<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet"  href="../static/main.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <!-- TITULO-->
        <title>Login</title>
    </head>
    <body>
        <div id="card">
            <!-- FORMULARIO DE LOGIN -->
            <div id="box">
                <img src="/static/logom.png">
                <a href="http://127.0.0.1:5000/home"><button id="button_google">Entre com sua conta google</button></a>
                <p>Faça login com sua conta google para ter acesso as informações do aplicativo.</p>
            </div>
        </div>
        <!-- JAVASCRIPT-->
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>